<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/home.css">
</head>
<body>
    <header>
        <nav class="header-component">
            <h1 class="titulo">JeoMatematic</h1>
        </nav>

        <nav class="header-nav">
            <a class="header-nav-component">Temperatura</a>
            <a class="header-nav-component">Peso</a>
            <a class="header-nav-component">IMC</a>
            <a class="header-nav-component">Pitágoras</a>
            <a class="header-nav-component">Massa/Densidade/Volume</a>
        </nav>
        
    </header>
</body>
</html>