<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="icon" href="../assets/img/unnamed-removebg-preview.png">
</head>
<body>
    <header>
        <nav class="header-component">
            <a href="../template/home.html"><img src="../assets/img/unnamed-removebg-preview.png" class="logo"></a>
                <h1 class="titulo">Matematic</h1>
            

            <nav class="header-nav">
                <a class="header-nav-component" href="../template/temperatura.html">Temperatura</a>
                <a class="header-nav-component" href="../template/peso.html">Peso</a>
                <a class="header-nav-component" href="../template/imc.html">IMC</a>
                <a class="header-nav-component" href="../template/pitagoras.html">Pitágoras</a>
                <a class="header-nav-component" href="../template/densidade.html">Densidade</a>
            </nav>
            
        </nav>

    </header>

    <img class="banner" src="../assets/img/banner.png">

    <div class="corpo-frase">
        <div class="frase">
            <h1>"A matemática não mente. <br>mente quem faz mau uso dela."</h1>
            <h3>- Albert Einstein</h3>
        </div>
    </div>

    <div class="welcome">
        <h2>A melhor aplicação para aprender aquilo que compoe o mundo</h2>
        <h3>utilize o seu conhecimento da melhor forma possivel. Esteja sempre em busca de novos conhecimentos, pois sua mente é uma pedra preciosa, na qual você precisa lapida-la todos os dias.</h3>
    </div>


</body>
</html>