<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC Formula</title>
    <link rel="stylesheet" href="../assets/css/imcformula.css">
    <link rel="icon" href="../assets/img/unnamed-removebg-preview.png">
</head>
<body>
    <header>
        <nav class="header-component">
            <a href="../template/index.html"><img src="../assets/img/unnamed-removebg-preview.png" class="logo"></a>
            <a href="../template/index.html"><h1 class="titulo">Matematic</h1></a>

            <nav class="header-nav">
                <a class="header-nav-component" href="../template/index.html">Home</a>
                <a class="header-nav-component" href="../template/temperatura.html">Temperatura</a>
                <a class="header-nav-component" href="../template/peso.html">Peso</a>
                <a class="header-nav-component" href="../template/imc.html">IMC</a>
                <a class="header-nav-component" href="../template/pitagoras.html">Pitágoras</a>
                <a class="header-nav-component" href="../template/densidade.html">Densidade</a>
            </nav>
            
        </nav>
    </header>

    <img class="banner" src="../assets/img/imc-banner.png">

    <div class="formulas">
        <h1>Fórmula do IMC</h1>
    </div>

    <footer>
        
        <h3>Onde nos encontrar:</h3>

        <div class="contt01">
            <a href="https://www.instagram.com/matemaatic__/" target="_blank"><img class="insta" src="../assets/img/instagram-logo.png"> <h4>@matemaatic__</h4></a>
        </div>

    </footer>

</body>
</html>