<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conversor de Temperatura</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/temperatura.css">
  <link rel="icon" href="../assets/img/unnamed-removebg-preview.png">
  <script src="../assets/js/temperatura.js"></script>
<body>

  <header>
    <nav class="header-component">
      <img src="../assets/img/unnamed-removebg-preview.png" class="logo">
      <h1 class="titulo">Matematic</h1>
      <nav class="header-nav">
        <a class="header-nav-component" href="../template/home.html">Home</a>
        <a class="header-nav-component" href="../template/peso.html">Peso</a>
        <a class="header-nav-component" href="../template/imc.html">IMC</a>
        <a class="header-nav-component" href="../template/pitagoras.html">Pitágoras</a>
        <a class="header-nav-component" href="../template/densidade.html">Densidade</a>
      </nav>
    </nav>
    
  </header>

  <img class="banner" src="../assets/img/banner.png">

  <div class="container">
    <div class="converter">
      <h1 class="letra-tab">Conversor de Temperatura</h1>
      <label for="temp-celsius">Celsius:</label>
      <input type="number" id="temp-celsius">
      <br>
      <button class="botao" onclick="converterParaFahrenheit()">Converter para Fahrenheit</button>
      <button class="botao" onclick="converterParaKelvin()">Converter para Kelvin</button>
      <br>
      <label for="temp-fahrenheit">Fahrenheit:</label>
      <input type="number" id="temp-fahrenheit">
      <br>
      <button class="botao" onclick="converterParaCelsius()">Converter para Celsius</button>
      <button class="botao" onclick="converterParaKelvin()">Converter para Kelvin</button>
      <br>
      <label for="temp-kelvin">Kelvin:</label>
      <input type="number" id="temp-kelvin">
      <br>
      <button class="botao" onclick="converterParaCelsius()">Converter para Celsius</button>
      <button class="botao" onclick="converterParaFahrenheit()">Converter para Fahrenheit</button>
    </div>
  </div>  

  <a href="../template/temperaturaformulas.html"><h3 class="formula">Ver Fórmulas</h3></a>

</body>
</html>
