<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conversor de Temperatura</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/temperatura.css">
<script src="../assets/js/temperatura.js"></script>
<body>

  <header>
    <nav class="header-component">
      <img src="../img/unnamed-removebg-preview.png" class="logo">
      <h1 class="titulo">JeoMatematic</h1>
    </nav>

    <nav class="header-nav">
      <a class="header-nav-component" href="../template/home.html">Home</a>
      <a class="header-nav-component" href="../template/peso.html">Peso</a>
      <a class="header-nav-component" href="../template/imc.html">IMC</a>
      <a class="header-nav-component" href="../template/pitagoras.html">Pitágoras</a>
      <a class="header-nav-component" href="../template/massa.html">Massa/Densidade/Volume</a>
    </nav>
    
</header>

  <h1>Conversor de Temperatura</h1>
<div class="container">
  <div class="converter">
    <label for="temp-celsius">Celsius:</label>
    <input type="number" id="temp-celsius">
    <br>
    <button onclick="converterParaFahrenheit()">Converter para Fahrenheit</button>
    <button onclick="converterParaKelvin()">Converter para Kelvin</button>
    <br>
    <label for="temp-fahrenheit">Fahrenheit:</label>
    <input type="number" id="temp-fahrenheit">
    <br>
    <button onclick="converterParaCelsius()">Converter para Celsius</button>
    <button onclick="converterParaKelvin()">Converter para Kelvin</button>
    <br>
    <label for="temp-kelvin">Kelvin:</label>
    <input type="number" id="temp-kelvin">
    <br>
    <button onclick="converterParaCelsius()">Converter para Celsius</button>
    <button onclick="converterParaFahrenheit()">Converter para Fahrenheit</button>
  </div>
</div>  

</body>
</html>
